@{
    ViewBag.Title = "Selamat Datang";
}

@*Styles.Render("~/Content/styleForSlideShowImage");*@


<div class="row-image" style="background-color: white">
    <ul class="cb-slideshow">
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
    </ul>
</div>

<div class="row-page">
    <div class="container body-content" style="padding-top:30px">
        <div class="mediabox">
            <img src="..\Content\image\01.jpg" />
            <h3><strong>Portal Surabaya</strong></h3>
            <p>@ViewBag.t</p>
        </div>
    </div>
</div>

<div class="row-page" style="background-color:#ffffff">
    <h2 style="color:blue;text-align:center; margin-top:0; padding-top:20px;">Portal Surabaya</h2>
    <div class="container">
       
                    <table align="center">
                        <tr>
                            <td>
                                <button type="button" class="popovertop btn btn-lg btn-danger bs-docs-popover-dismiss" data-toggle="popover" title="" data-content="deskripsi top wisata 1" data-original-title="Title Top Wisata 1">Title Top Wisata 1</button>
                                @*<button type="button" class="btn btn-lg btn-danger bs-docs-popover-dismiss" data-toggle="popover" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="Dismissible popover">Dismissible popover</button>*@
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="popovertop btn btn-lg btn-danger bs-docs-popover-dismiss" data-toggle="popover" title="" data-content="deskripsi top wisata 2" data-original-title="Title Top Wisata 2">Title Top Wisata 2</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>
                                5
                            </td>
                        </tr>
                        <tr>
                            <td>
                                6
                            </td>
                        </tr>
                    </table>
                
    </div>
</div>
<div class="row-page">
    http://tympanus.net/Development/GammaGallery/
</div>

<script>
        $(document).ready(function () {
            $('.popovertop').popover({
                trigger: ' hover'
            });
        });
    </script>